<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://az204niravfunctionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6a359e68-d2bd-4b12-8611-0d8a0bb6e78f/resourceGroups/AZ-204/providers/Microsoft.Web/sites/az204niravfunctionapp</ResourceId>
    <UserName>$az204niravfunctionapp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://az204niravfunctionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>